<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ApplyDao">
    <select id="getApplyPrice" parameterType="Apply" resultType="Apply">
        SELECT *
        FROM apply
        WHERE applyId = #{applyId} AND financeApprove='未审阅';
    </select>

    <insert id="addApply" parameterType="Orders" useGeneratedKeys="true" keyProperty="oId">
        INSERT INTO orders (manufactor, shippingAddress, buyer, allPrice, advance, finals)
        VALUES (#{manufactor}, #{shippingAddress}, #{buyer}, #{allPrice}, #{advance}, #{finals});
    </insert>

    <insert id="addAppOrder">
        INSERT INTO app_order(oId,aId,applyBuyNumber)
        VALUES (#{oId},#{aId},#{applyBuyNumber})
    </insert>

    <delete id="delApply">
        DELETE FROM apply WHERE applyId = #{applyId};
    </delete>

    <insert id="shiftApply">
        INSERT INTO appoint(applyId,mId,mName,specification,manufactor,unit,department,number,applyNumber,purchasePrice,code,mType,supplier,approvalNumber,placeOrigin,applyUser,applyTime,pharmacist,pharmacistApprove,pharmacistTime,finance,financeApprove,financeTime,tableCoding)
        VALUES (#{applyId},#{mId},#{mName},#{specification},#{manufactor},#{unit},#{department},#{number},#{applyNumber},#{purchasePrice},#{code},#{mType},#{supplier},#{approvalNumber},#{placeOrigin},#{applyUser},#{applyTime},#{pharmacist},#{pharmacistApprove},#{pharmacistTime},#{finance},#{financeApprove},#{financeTime},#{tableCoding})
    </insert>

    <select id="getStatistics" resultType="Apply">
        SELECT manufactor,COUNT(manufactor) AS applyNumber FROM apply
        WHERE applyTime LIKE #{applyTime}
        GROUP BY manufactor;
    </select>

    <select id="getAppointStatistics" resultType="Apply">
        SELECT manufactor,COUNT(manufactor) AS applyNumber FROM appoint
        WHERE applyTime LIKE #{applyTime}
        GROUP BY manufactor;
    </select>



</mapper>

