<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PatientDao">
    <select id="getPatients" parameterType="map" resultType="Patient">
        SELECT * FROM patient
        WHERE
        <choose>
            <when test="isNumeric">
                pId = #{searchTerm}
            </when>
            <otherwise>
                (name LIKE CONCAT('%', #{searchTerm}, '%') OR
                sex LIKE CONCAT('%', #{searchTerm}, '%') OR
                phone LIKE CONCAT('%', #{searchTerm}, '%') OR
                diagnosticTime LIKE CONCAT('%', #{searchTerm}, '%') OR
                allergy LIKE CONCAT('%', #{searchTerm}, '%') OR
                doctorAdvice LIKE CONCAT('%', #{searchTerm}, '%') OR
                dName LIKE CONCAT('%', #{searchTerm}, '%') OR
                lastDiaTime LIKE CONCAT('%', #{searchTerm}, '%'))
            </otherwise>
        </choose>
    </select>

    <select id="searchMedicine" parameterType="string" resultType="Medicine">
        SELECT *
        FROM dictionary
        WHERE
            mName LIKE CONCAT('%', #{search}, '%') OR
            specification LIKE CONCAT('%', #{search}, '%') OR
            manufactor LIKE CONCAT('%', #{search}, '%') OR
            unit LIKE CONCAT('%', #{search}, '%') OR
            department LIKE CONCAT('%', #{search}, '%') OR
            position LIKE CONCAT('%', #{search}, '%') OR
            batchNumber LIKE CONCAT('%', #{search}, '%') OR
            usefulLife LIKE CONCAT('%', #{search}, '%') OR
            productDate LIKE CONCAT('%', #{search}, '%') OR
            profits LIKE CONCAT('%', #{search}, '%') OR
            code LIKE CONCAT('%', #{search}, '%') OR
            goodsType LIKE CONCAT('%', #{search}, '%') OR
            mType LIKE CONCAT('%', #{search}, '%') OR
            defined LIKE CONCAT('%', #{search}, '%') OR
            supplier LIKE CONCAT('%', #{search}, '%') OR
            warehousingDate LIKE CONCAT('%', #{search}, '%') OR
            locationDescription LIKE CONCAT('%', #{search}, '%') OR
            sign LIKE CONCAT('%', #{search}, '%') OR
            warehousingRemarks LIKE CONCAT('%', #{search}, '%') OR
            drugFrom LIKE CONCAT('%', #{search}, '%') OR
            handingInformation LIKE CONCAT('%', #{search}, '%') OR
            approvalNumber LIKE CONCAT('%', #{search}, '%') OR
            LastCuringDate LIKE CONCAT('%', #{search}, '%') OR
            documentNumber LIKE CONCAT('%', #{search}, '%') OR
            placeOrigin LIKE CONCAT('%', #{search}, '%') OR
            batchsNumber LIKE CONCAT('%', #{search}, '%')
    </select>

</mapper>